
h1 {
    text-align: left;
    position: absolute;
    top: 60px;
    left: 80px;
    color: #80ab97;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
   
}

h2 {
    text-align: left;
    position: absolute;
    top: 120px;
    left: 80px;
    color: #8f8787a1;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}


body {
    width: 300px;
    height: 400px;
    background-color:white;;
}


.my_instruction {
    text-align: left;
    position: absolute;
    top: 300px;
    left: 80px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
  
#enterButton{
    position: relative;
    top:260px;
    left:90px;
    width: 150px;
    height: 64.5px;
    padding: 10px;
    background-image: url('enterButton.jpg');
    background-size: contain;
    border: none;
}


#demoPic{
    position: relative;
    top: 170px;
    left:200px;
    width: 56px;
    height: 480px;  
}