#canvas {
    border: 1px solid rgb(255, 255, 255);
    z-index: 1;
}


h1 {
	  font-size: xx-large;
    color: black;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 50px;
}

#importantButton{
    position: absolute;
    top:700px;
    left:300px;
    width: 88px;
    height: 40px;
    padding: 10px;
    background-image: url('importantButton.jpg');
    background-size: contain;
    border: none;
}


#offTopicButton{
    position: absolute;
    top:700px;
    left:80px;
    width: 88px;
    height: 40px;
    padding: 10px;
    background-image: url('offTopicButton.jpg');
    background-size: contain;
    border: none;
}


#returnButton{
    position: absolute;
    top:17px;
    left:400px;
    width: 26px;
    height: 20px;
    padding: 10px;
    background-image: url('returnButton.jpg');
    background-size: contain;
    border: none;
}